<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="account">
                <p>account balance: <span>{{this.account.balance}}</span></p>

                <p v-if="this.user.level===1">total balance: <span>{{total}}</span></p>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                account: {
                    balance:''
                },
                total:0,
                user:{
                    level:0
                }
            };
        },
        mounted() {
            this.user = JSON.parse(localStorage.getItem('user'));
            if (this.user.level===1){
                this.totalBalance();
            }
        },
        created(){
            this.fetchTaskList();
        },
        methods: {
            totalBalance(){
                return window.axios.get('api/account/total').then((res) => {
                    console.log(res.data);
                    this.total = res.data.data;
                });
            },
            fetchTaskList() {
                window.axios.get('api/account').then((res) => {
                    console.log(res.data);
                    this.account = res.data.data;
                });
            },

        }

    }
</script>