<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <a class="navbar-brand" href="#">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="as">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">
                        Bank App
                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                        <li class="nav-item"><router-link :to="{ name: 'login' }" class="nav-link">Login</router-link></li>
                        <li class="nav-item"><router-link :to="{ name: 'register' }" class="nav-link" >Register</router-link></li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            <router-view></router-view>
        </main>
    </div>
</template>
<script>
    export default {
        props : ['name'],
        methods: {
            logout() {
                console.log('logout');
                this.axios.post('logout', this.task)
                    .then((res) => {
                        window.location.replace('/login')
                    })
                    .catch((err) => console.error(err));
            },
        }
    }
</script>