<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>

                    <div class="card-body">
                        <form method="POST" action="#" @submit.prevent="login()">

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email" v-model="user.email" required autofocus>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password" v-model="user.password" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" id="remember" v-model="user.remember">

                                        <label class="form-check-label" for="remember">
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                user: {
                    email: 'admin@gmail.com',
                    password: 'admin123',
                    remember: ''
                }
            };
        },
        mounted() {
        },
        methods: {

            login() {
                window.axios.post('login', this.user)
                    .then((res) => {
                        console.log(res.data.status);
                        if(res.data.status===true){
                            localStorage.setItem('basic',res.data.data.basic);
                            localStorage.setItem('user',JSON.stringify(res.data.data.user));
                            window.location.replace(res.data.data.redirect_to);
                        }else{
                            console.log(res.data.message);
                            console.log(res.data.data);
                        }
                    })
                    .catch((err) => console.error(err));
            },

        }

    }
</script>