<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>

                    <div class="card-body">
                        <div v-if="alert.isError || alert.isSuccess"  class="alert"
                             v-bind:class="{ 'alert-success': alert.isSuccess, 'alert-danger': alert.isError }" role="alert">
                            {{alert.massage}}
                        </div>
                        <form method="POST" action="#" @submit.prevent="register()">
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" name="name" v-model="user.name"  required autofocus>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email" v-model="user.email" required>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-md-4 col-form-label text-md-right">Phone</label>

                                <div class="col-md-6">
                                    <input id="phone" type="text" class="form-control" name="phone" v-model="user.phone" required>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-md-4 col-form-label text-md-right">Address</label>

                                <div class="col-md-6">
                                    <input id="address" type="text" class="form-control" name="address" v-model="user.address" required>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password" v-model="user.password" required>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                                <div class="col-md-6">
                                    <input id="password-confirm" type="password" class="form-control" name="password_confirmation" v-model="user.password_confirmation" required>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                user: {
                    name: 'nuwa',
                    email: 'nuwa@mail.com',
                    phone: '0981023412',
                    address: 'address',
                    password: '123123',
                    password_confirmation: '123123',
                },
                alert:{
                    massage:'',
                    isError:false,
                    isSuccess:false
                }
            };
        },
        mounted() {
        },
        methods: {

            register() {
                window.axios.post('register', this.user)
                    .then((res) => {
                            console.log(res.data.message);
                            console.log(res.data.data);
                        this.alert.massage = res.data.data;
                        if(res.data.status){
                            localStorage.setItem('basic',res.data.data.basic);
                            localStorage.setItem('user',JSON.stringify(res.data.data.user));
                            window.location.replace(res.data.data.redirect_to);
                        }else {
                            this.alert.isError = true;
                            this.alert.isSuccess = false;
                        }
                    })
                    .catch((err) => console.error(err));
            },

        }

    }
</script>