<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <a class="navbar-brand" href="#">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="as">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">
                        <!--<li>{{name}}</li>-->
                        <li><router-link :to="{ name: 'dashboard' }" class="nav-link">Home</router-link></li>
                        <li><router-link :to="{ name: 'deposit' }" class="nav-link" >Transaction</router-link></li>
                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                        <li class="nav-item">
                            <a class="dropdown-item" href="#"
                               @click="logout()">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            <router-view></router-view>
        </main>
    </div>
</template>
<script>
    export default {
        props : [],
        data() {
            return {
            };
        },
        mounted() {

        },
        methods: {
            logout() {
                console.log('logout');
                window.axios.post('/logout')
                    .then((res) => {
                        console.log('success logout');
                        localStorage.clear();
                        window.location.replace('/login')
                    })
                    .catch((err) => console.error(err));
            },
        }
    }
</script>