<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="account">
                <table class="table table-bordered" v-if="this.transaction.length>0">
                    <tr>
                        <th v-if="isManager()">user name</th>
                        <th>name</th>
                        <th>type</th>
                        <th>amount</th>
                        <th>account name</th>
                        <th>balance</th>
                        <th>created at</th>
                    </tr>
                    <tr v-for="item in this.transaction">
                        <td v-if="isManager()">{{item.user.name}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.amount}}</td>
                        <td v-if="item.account!==null" >{{item.account.name}}</td>
                        <td v-else>-</td>
                        <td>{{item.balance}}</td>
                        <td>{{item.created_at}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                transaction: [
                ],
                user_data:{
                    level:0
                },
            };
        },
        mounted() {
            this.user_data = JSON.parse(localStorage.getItem('user'));
        },
        created(){
            this.fetchTaskList();
        },
        methods: {
            isManager(){
                return this.user_data.level === 1;
            },
            fetchTaskList() {
                console.log(this.transaction);
                window.axios.get('api/history').then((res) => {
                    if (res.data.status){
                        this.transaction = res.data.data;
                    }
                    console.log(this.transaction)
                });
            },

        }

    }
</script>