<template>
    <div class="flex-center position-ref full-height">
        <li><router-link :to="{ name: 'deposit' }" class="side-link" >Deposit</router-link></li>
        <li><router-link :to="{ name: 'withdraw' }" class="side-link">Withdraw</router-link></li>
        <li><router-link :to="{ name: 'transfer' }" class="side-link">Transfer</router-link></li>
        <li><router-link :to="{ name: 'history' }" class="side-link">History</router-link></li>
        <div class="content">
                <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {

    }
</script>