<template>
    <div class="flex-center position-ref">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">Withdraw</div>

                        <div class="card-body">
                            <div v-if="alert.isError || alert.isSuccess"  class="alert"
                                 v-bind:class="{ 'alert-success': alert.isSuccess, 'alert-danger': alert.isError }" role="alert">
                                {{alert.massage}}
                            </div>
                            <form method="POST" action="#" @submit.prevent="withdraw()">

                                <div class="form-group row">
                                    <label for="amount" class="col-md-4 col-form-label text-md-right">Amount</label>

                                    <div class="col-md-6">
                                        <input id="amount" type="number" class="form-control" name="amount" v-model="data.amount" required autofocus>

                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <div class="col-md-8 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                data: {
                    amount:''
                },
                alert:{
                    massage:'',
                    isError:false,
                    isSuccess:false
                }
            };
        },
        mounted() {
        },
        created(){
        },
        methods: {
            withdraw() {
                window.axios.post('api/withdraw',this.data).then((res) => {
                    console.log(res.data);
                    this.alert.massage = res.data.data;
                    if(res.data.status){
                        this.alert.isSuccess = true;
                        this.alert.isError = false;
                    }else {
                        this.alert.isError = true;
                        this.alert.isSuccess = false;
                    }
                });
            },

        }

    }
</script>